@mixin reset-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  >li {
    padding-left: 0;
  }
}

@mixin clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

@mixin line-clamp($line: 1) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  -webkit-line-clamp: $line;
}
